body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.categoryPane {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: rgb(128, 128, 128);
    border-right: 2px solid darkgray;
}

.categoryPane ul {
    list-style-type: none;
    margin: .5em 0 .5em 1em;
    padding: 0;
}

.categoryPane .categoryName:hover {
    color: orange;
    cursor: default;
}

.productCategory {
    margin: 1em;
}

.categoryName.togglable {
    position: relative;
    font-weight: bold;
}

.categoryName.togglable:before {
    font-weight: bold;
    color: green;
    position: absolute;
    left: -10px;
}

/* Children nodes are hidden */
.categoryName.togglable.collapseChildren + .childrenNodes {
    display: none;
}

.categoryName.togglable.collapseChildren:before {
    content: "+";
}

/* Children nodes are visible */
.categoryName.togglable.expandChildren:before {
    content: "-";
}

.addNewPane {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 30em;
    margin: 1em;
    padding: 1em;
}

.addNewTool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.addNewButton {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-color: rgb(255, 133, 0);
    border: none;
    color: white;
    padding: .6em .8em;
    -webkit-box-shadow: 1px 1px 4px #dadada;
            box-shadow: 1px 1px 4px #dadada;
    border-radius: 3px;
}

.newProductInfoPane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
    border-top: 2px solid darkgrey;
}

.newProductInfoPane .productInfoRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.newProductInfoPane .saveOrDismiss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.newProductInfoPane .saveOrDismiss button {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 2em 0 0 2em;
    border: none;
    padding: .5em 1em;
}

.saveResultButton {
    background-color: rgb(255, 133, 0);
    color: white;
    -webkit-box-shadow: 1px 1px 4px #dadada;
            box-shadow: 1px 1px 4px #dadada;
    border-radius: 3px;
}

.dismissChangeButton {
    background: none;
    color: grey;
}

.savedProductInfo {
    margin: .5em 0;
}
